/*生意地WAP-经验详情1106*/
.bd-left-fd6448{border-left:0.04rem solid #fd6448;}
.col-f9dfb2{color:#f9dfb2;}
.bg-f7aa67{background-color:#f7aa67;}
.syd1106-exp-teaImg{width:0.72rem;height:0.72rem;border-radius:50%;}
.syd1106-exp-info{margin-left:0.9rem;}
.syd1106-exp-ask{display: inline-block;padding:0.14rem 0.28rem;border-radius:0.04rem;}
.syd1106-org-titIcon{display: inline-block;width:0.29rem;height:0.32rem;background: url("../images/syd1106-org-titIcon.png");background-size: 0.29rem 0.32rem;vertical-align: bottom;margin-right:0.13rem;}
.syd1106-exp-orgList li{padding:0.3rem 0.24rem;border-bottom:0.02rem solid #eee;}
.syd1106-exp-orgList li:last-child{border-bottom:none;}
.syd1106-exp-orgLogo{width:1.3rem;height:1.3rem;border-radius:0.08rem;}
.syd1106-exp-orgInfo{margin-left:1.6rem;}
.syd1106-exp-orgTit i{display: inline-block;border:0.02rem solid #349bfe;color:#349bfe;border-radius:4px;padding:0.02rem 0.05rem;margin-left:0.1rem;font-size:0.22rem;}
.syd1106-exp-orgBtn a{display: inline-block;padding:0.1rem 0.22rem;border-radius:0.04rem;}
.syd1106-exp-orgBtn a:last-child{margin-right:0;}
.syd1106-exp-gift{background: url("../images/syd1106-exp-gift.png");display: inline-block;width:0.26rem;height:0.23rem;background-size: 0.26rem 0.23rem;margin-right:0.12rem;
    vertical-align: middle;}
.ting-article-tag span{display: inline-block;padding:0.07rem 0.2rem;border-radius:0.3rem;margin-right:0.16rem;}
.online1119-test-btn{display:block;border:0.02rem solid #ee645f;color:#ee645f;height:0.8rem;line-height:0.8rem;border-radius:0.4rem;text-align:center;font-size:0.3rem;}
.online1119-test-btn span{display: inline-block;background: url("../images/online1119-test-icon.png") no-repeat;width:0.32rem;height:0.32rem;background-size: 0.32rem;vertical-align: middle;margin-right:0.1rem;}
.student0612-case-list{padding:0 0.2rem;}
.student0612-case-list li{padding:0.2rem 0;}
.student0612-case-pic{width:0.6rem;height:0.6rem;float:left;border-radius: 50%;}
.student0612-case-info{margin-left:0.8rem;}
/*相关推荐*/
.ting-mould-ArtikleHot li{padding:0.3rem 0;border-bottom:0.01rem solid #f6f6f6;}
.ting-mould-ArtikleHot li h3{color:#333;font-size:0.3rem;}
.ting-mould-ArtikleHot li p{color:#999;margin-top:0.3rem;font-size:0.22rem;}

.public0802-course-titBg{background: url(../images/public0802-course-tit.png) center center no-repeat;background-size: 4.76rem 0.18rem;height:0.18rem;}
.public0802-course-list li{padding:0.32rem;margin-top:0.36rem;}
.public0802-course-name1{width:2.92rem;height:0.41rem;}
.public0802-course-btn{display:inline-block;width:1.86rem;padding:0.1rem 0;border-radius:0.08rem;}
.public0802-course-info{width:3.9rem;}
.public0802-course-img{width:2.31rem;height:2rem;margin-top:0.1rem;}
.public0802-classify-list{display: flex;flex-wrap: wrap;}
.public0802-classify-list li{width:3.37rem;height:3.43rem;box-sizing: border-box;margin-right:0.34rem;margin-top:0.36rem;}
.public0802-classify-list li:nth-child(2n){margin-right:0;}
.public0802-classify-name{height:0.42rem;}
.public0802-classify-info{border:0.04rem solid #ee645f;border-bottom:none;padding:0.15rem 0 0.19rem;height:2.75rem;box-sizing: border-box;}
.public0802-classify-btn{display: inline-block;width:100%;padding:0.1rem 0;}
.page25-org-name{font-size:0.48rem;color:#fff;}




