/*2018-12-4 10:40*/
body,html{font-size:0.28rem;}
/*F2018_11_09_001*/
.outfit1109-box .outfit1109-list>li{padding:0.2rem 0.2rem 0.1rem;background-color: #eeeeee;}
.outfit1109-box .outfit1109-list>li>div{border-radius:0.04rem;position: relative;}
.outfit1109-box .outfit1109-list .outfit1109-list-hot{position: absolute;width:0.76rem;height:0.76rem;top:0;left:0;}
.outfit1109-box .outfit1109-list .outfit1109-list-cont{padding:0.24rem;}
.outfit1109-box .outfit1109-list .outfit1109-list-logo1{width:1.1rem;height:1.1rem;border-radius:50%;border:0.02rem solid #eee;}
.outfit1109-box .outfit1109-list .outfit1109-list-info{margin-left:1.39rem;}
.outfit1109-box .outfit1109-list .outfit1109-list-tag{display: flex;}
.outfit1109-box .outfit1109-list .outfit1109-list-tag>span{flex: 1;font-size:0.22rem;padding:0.2rem 0;padding-left:0.24rem;border-right:0.02rem solid #eee;}
.outfit1109-box .outfit1109-list .outfit1109-list-tag>span:last-child{border-right:none;}
.outfit1109-box .outfit1109-list .outfit1109-list-btn a{display: inline-block;font-size:0.22rem;padding:0.1rem 1rem;border-radius:0.04rem;}
/*F2018_11_13_004*/
.outfit1113-list4 li{padding:0.3rem 0.2rem;border-bottom:0.02rem solid #eee;}
.outfit1113-list4-logo1{width:1.26rem;height:1.26rem;border-radius:0.08rem;border:0.02rem solid #eee;}
.outfit1113-list4-info{margin-left:1.5rem;}
.outfit1113-list4-name span{display: inline-block;padding:0.01rem 0.04rem;border:0.01rem solid #349bfe;color:#349bfe;font-size:0.22rem;border-radius:0.04rem;margin-left:0.1rem;vertical-align: text-top;}
.outfit1113-list4-icon{display: inline-block;background: url("../images/F2018_11_13_004/outfit1113-list4-icon.jpg");width:0.26rem;height:0.23rem;background-size: 0.26rem 0.23rem;}
.outfit1113-list4-btn a{display: inline-block;font-size:0.22rem;padding:0.1rem 0.76rem;border-radius:0.04rem;margin-right:0.2rem;}
.outfit1113-list4-btn a:last-child{margin-right:0;}
/*F2018_11_13_003*/
.outfit1113-list3{padding:0.1rem 0.2rem;}
.outfit1113-list3 li{padding:0.36rem 0.22rem;}
.outfit1113-list3-name span{display: inline-block;padding:0.01rem 0.04rem;border:0.01rem solid #ee645f;color:#ee645f;font-size:0.22rem;border-radius:0.04rem;margin-left:0.1rem;vertical-align: text-top;}
.outfit1113-list3-btn a{display: inline-block;font-size:0.24rem;padding:0.1rem 0.65rem;border-radius:0.04rem;margin-right:0.2rem;}
.outfit1113-list3-btn a:last-child{margin-right:0;}
.outfit1113-list3-icon{display: inline-block;background: url("../images/F2018_11_13_003/outfit1113-list3-icon.jpg");width:0.26rem;height:0.23rem;background-size: 0.26rem 0.23rem;}
/* ??????F2018_11_13_005*/
.outfit1113-list5{padding:0.1rem 0.2rem;}
.outfit1113-list5 li{padding:0.2rem 0 0 0;background: url("../images/F2018_11_13_005/outfit1113-list5-bg.png") no-repeat;width:7.1rem;height:2.92rem;background-size: 7.1rem 2.92rem;box-sizing: border-box;margin: 0.1rem 0;}
.outfit1113-list5-tit{font-size:0.3rem;font-weight:bold;color:#fff;width:0.68rem;flex-wrap: wrap;padding: 0.25rem 0.2rem 0;box-sizing: border-box;}
.outfit1113-list5-info{margin-left:0.68rem;background-color: #fff;padding: 0.2rem 0.2rem;height:2.72rem;box-sizing: border-box;}
.outfit1113-list5-btn a{display: inline-block;width:2.85rem;padding:0.12rem 0;border-radius:0.04rem;font-size:0.24rem;text-align:center;margin-right:0.2rem;}
.outfit1113-list5-btn a:last-child{margin-right:0;}
/*F2018_11_13_006*/
.outfit1113-list6 li{padding: 0.25rem 0.2rem;}
/*F2018_11_13_008*/
.outfit1113-list8 li{padding:0.2rem 0.2rem 0.1rem;background-color: #eeeeee;}
.outfit1113-list8 li>div{border-radius:0.1rem;}
.outfit1113-list8-btn{display: inline-block;padding:0.13rem 0.31rem;border-radius:0.04rem;}
.outfit1113-outfit8-logo{width:0.64rem;height:0.64rem;border:0.01rem solid #eeeeee;border-radius:0.04rem;}
.outfit1113-outfit8-info{margin-left:0.83rem;}
/*F2018_11_15_003*/
.outfit1115-list3 li{padding:0.1rem 0.2rem;}
.outfit1115-list3-tag{padding:0 0.05rem;border-radius:4px;}
.bright-spot-icon{display: inline-block;background: url("../images/F2018_11_15_003/bright-spot-icon.png");width:0.24rem;height:0.24rem;background-size: 0.24rem 0.24rem;}
.bright-time-icon{display: inline-block;background: url("../images/F2018_11_15_003/bright-time-icon.png");width:0.24rem;height:0.24rem;background-size: 0.24rem 0.24rem;}
.outfit1115-list3-btn{display: inline-block;padding:0.12rem 0.38rem;border-radius:0.04rem;}
/*F2018_11_15_001*/
.outfit1115-list li{padding:0.1rem 0.2rem;}
.outfit1115-list li>div{background:#5593f6 url("../images/F2018_11_15_001/outfit1115-list-bg.png")  no-repeat center bottom;width:7.1rem;box-sizing: border-box; color:#fff;background-size: 7.1rem;border-radius:0.1rem;}
.outfit1115-list-relevant{border-radius:0.04rem;}
/*F2018_11_29_003*/
.org1129-list3-logo{width:1.2rem;height:1.2rem;border:0.02rem solid #ddd;}
.org1129-list3-info{margin-left:1.4rem;}
.org1129-list3-follow{display: inline-block;background: url("../images/F2018_11_29_003/org1129-list3-follow.png");width:0.24rem;height:0.21rem;background-size: 0.24rem 0.21rem;margin-right:0.1rem;}
.org1129-list3-askAddress{display: inline-block;font-size:0.24rem;padding:0.05rem 0.15rem;border-radius:0.3rem;}
.org1129-list3-btn a{display: inline-block;padding:0.08rem 0.4rem;border-radius:0.3rem;background-color:#fe984c;color:#fff;}
/*F2018_12_03_001*/
.outfit1203-list li{background: url("../images/F2018_12_03_001/outfit1203-list-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
.outfit1203-list-logo{width:1.2rem;height:1.2rem;border-radius:50%;border:0.01rem solid #eeeeee;}
.outfit1203-list-info{margin-left:1.45rem;}
.outfit1203-list-btn a{display: inline-block;border-radius:0.04rem;padding:0.028rem 0.95rem;}
/*F2018_12_03_002*/
.outfit1203-list2 li{background: url("../images/F2018_12_03_002/outfit1203-list2-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_003*/
.outfit1203-list3 li{background: url("../images/F2018_12_03_003/outfit1203-list3-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_004*/
.outfit1203-list4 li{background: url("../images/F2018_12_03_004/outfit1203-list4-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_005*/
.outfit1203-list5 li{background: url("../images/F2018_12_03_005/outfit1203-list5-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_006*/
.outfit1203-list6 li{background: url("../images/F2018_12_03_006/outfit1203-list6-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_007*/
.outfit1203-list7 li{background: url("../images/F2018_12_03_007/outfit1203-list7-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_008*/
.outfit1203-list8 li{background: url("../images/F2018_12_03_008/outfit1203-list8-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_009*/
.outfit1203-list9 li{background: url("../images/F2018_12_03_009/outfit1203-list9-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_010*/
.outfit1203-list10 li{background: url("../images/F2018_12_03_010/outfit1203-list10-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_03_011*/
.outfit1203-list11 li{background: url("../images/F2018_12_03_011/outfit1203-list11-bg.jpg");width:7.1rem;height:5rem;background-size:7.1rem 5rem;}
/*F2018_12_06_001*/
.col-f7844c{color:#f7844c;}
.col-4ea5ff{color:#4ea5ff;}
.outfit1206-list-logo{width:1.32rem;height:1.32rem;}
.outfit1206-list-info{margin-left:1.52rem;}
.outfit1206-list-btn{padding:0.16rem 0.8rem;background: #feeddf;}
.outfit1206-list-btn a{display: inline-block;background: #fe984c;width:2.2rem;height:0.48rem;text-align:center;line-height:0.48rem;color:#fff;font-size:0.26rem;}
/*F2018_12_04_001*/
.outfit1204-list li{background: #fff8f2;}
.outfit1204-list-logo{width:1.2rem;height:1.2rem;}
.outfit1204-list-info{margin-left:1.36rem;}
.outfit1204-main-course{margin-left:1.23rem;}
.outfit1204-list-btn{padding:0.25rem 0.7rem;}
.outfit1204-list-btn a{display: inline-block;width:2.3rem;height:0.47rem;text-align:center;line-height:0.47rem;background: #fe984c;color:#fff;font-size:0.24rem;}
/*F2018_12_04_003*/
.col-003264{color:#003264;}
.col-f75951{color:#f75951;}
.col-ee4134{color:#ee4134;}
.outfit1204-list3{margin:0.2rem 0;}
.outfit1204-list3 li{width:7.1rem;box-shadow: 0px 0px 6px 0px rgba(39, 39, 39, 0.4);}
.outfit1204-list3-div{background: #fafafa;}
.outfit1204-list3-logo{width:1.32rem;height:1.32rem;border: solid 1px rgba(221, 221, 221, 0.5);}
.outfit1204-list3-info{margin-left:1.52rem;}
.outfit1204-list3-btn{padding:0.25rem 0.8rem;}
.outfit1204-list3-btn a{display: inline-block;width:2.32rem;height:0.45rem;text-align:center;line-height:0.45rem;border-radius: 5px;background: #ff6464;color:#fff;font-size:0.22rem;}
/*F2018_11_28_001*/
.outfit1128-list-logo{width:1.5rem;height:1.5rem;}
.outfit1128-list-info{margin-left:1.72rem;}
.outfit1128-list-Calculation{display: inline-block;padding:0.08rem 0.27rem;background: #fe984c;color:#fff;border-radius:0.3rem;}
.outfit1128-course-info{background: #e8f0ff;padding:0.2rem;}
.outfit1128-course-Classic{display: inline-block;font-size:0.24rem;color:#ff861b;padding-right:0.2rem;border-right:0.01rem solid #b9cdf3;}
.outfit1128-course-name{margin-left:1rem;}
.outfit1128-course-other{display: inline-block;padding:0.05rem 0.2rem;border:0.01rem solid #ff861b;color:#ff861b;border-radius:0.25rem;}
/*F2018_12_12_001*/
.ting1212-org-list{padding:0 0.2rem;background-color: #fff6f0;}
.ting1212-org-list li{padding:0.2rem 0;margin:0.3rem 0;}
.ting1212-org-logo{width:1.2rem;height:1.2rem;vertical-align: top;}
.ting1212-org-info{margin-left:1.42rem;}
.ting1212-org-btn a{display: inline-block;width: 1.8rem;height:0.4rem;background-color: #ffa256;text-align:center;line-height:0.4rem;font-size:0.22rem;color:#fff;}
.ting1212-org-btn a:last-child{margin-left:0.8rem;}
/*F2018_12_26_001*/
.outfit1226-org-list>li{margin:0.3rem 0;}
.bg-fcf5f3{background-color: #fcf5f3;}
.col-ea4a25{color:#ea4a25;}
.outfit1226-list-logo{width:1.2rem;height:1.2rem;border:0.08rem solid #e7e1e0;border-radius:50%;}
.outfit1226-list-info{margin-left:1.54rem;}
.outfit1226-evaluate-list{background-color: #ebf2ff;padding:0.28rem 0.51rem;display: flex;}
.outfit1226-evaluate-list li{flex: 1;text-align:center;border-right:0.02rem solid #ea4a25;color:#ea4a25;font-size:0.3rem;line-height:0.3rem;}
.outfit1226-evaluate-list li:last-child{border-right:none;}
.outfit1226-evaluate-btn{padding:0.3rem 0.4rem;}
.outfit1226-evaluate-btn a{display: inline-block;width: 2.72rem;height: 0.56rem;background-color: #ea6754;border-radius:0.05rem;line-height:0.56rem;text-align:center;font-size:0.26rem;color:#fff;}
/*F2019_01_07_001*/
.outfit0107-list{margin:0.1rem 0;}
.outfit0107-list li{padding:0.3rem 0.2rem;}
.outfit0107-list-logo{width:1.2rem;height:1.2rem;border:0.02rem solid #eee;}
.outfit0107-list-info{margin-left:1.4rem;}
.col-fe6d4c{color:#fe6d4c;}
.outfit0107-list-btn{padding:0.3rem 0 0;}
.outfit0107-list-btn a{width: 2.14rem;height:0.48rem;border-radius:0.24rem;border: solid 1px #fe6d4c;text-align:center;line-height:0.48rem;display: inline-block;color:#fe6d4c;}
.outfit0107-list-btn a:last-child{margin-left:1.1rem;}
/*F2019_01_08_001*/
.bg-fdf5f5{background-color: #fdf5f5;}
.outfit0108-list-logo{width:1.2rem;height:1.2rem;}
.bg-fe6d4c{background-color: #fe6d4c;}
.outfit0108-list-btn{padding:0.3rem 0 0;}
.outfit0108-list-btn a{width: 2.14rem;height:0.48rem;border-radius:0.24rem;border: solid 1px #fe6d4c;text-align:center;line-height:0.48rem;display: inline-block;color:#fff;}
.outfit0108-list-btn a:last-child{margin-left:1.1rem;}
.bd-bottom-fe6d4c{border-bottom:0.02rem dotted #fe6d4c;}
/*F2019_01_09_001*/
.bg-f4f4ff{background-color: #f4f4ff;}
.outfit0109-list-logo{width:1rem;height:1rem;border-radius:50%;border:0.1rem solid #d8d8e1;}
.outfit0109-list{margin:0.2rem 0;}
.outfit0109-list li{padding:0.3rem 0.2rem;}
.col-ff8847{color:#ff8847;}
.bd-bottom-ccc-dotted{border-bottom:0.02rem dotted #ccc;}
.col-3c83f9{color:#3c83f9;}
.outfit0109-list-couBtn{display: inline-block;padding:0.05rem 0.15rem;background-color: #6095fa;color:#fff;font-size:0.2rem;border-radius:0.25rem;}
.outfit0107-list-btn{padding:0.1rem 0.68rem;display: inline-block;background-color:#ff8847;color:#fff;font-size:0.24rem;border-radius:0.3rem;}
/*F2019_01_10_001*/
.outfit0110-list-logo{width:1.16rem;height:1.16rem;}
.outfit0110-list{box-shadow: 0px 0.03rem 0.07rem 0px rgba(137, 137, 137, 0.4);margin-top: 0.3rem; }
.outfit0110-list-evaluate{padding:0.18rem 0.2rem;background-color: #fff4f2;display: flex;}
.outfit0110-list-evaluate li{padding:0 0.28rem;flex: 1;border-right:0.02rem solid #ff866a;}
.outfit0110-list-evaluate li:last-child{border-right:none;}
.outfit0110-list-evaluate li span{display: inline-block;padding:0.08rem 0.2rem;color:#fe6d4c;border:0.02rem solid #fe6d4c;font-size:0.22rem;border-radius:0.3rem;}
.outfit0110-list-evaluate li:nth-child(2) span{border:0.02rem solid #33aae0;color:#33aae0;}
.outfit0110-list-btn a{display: inline-block;width:2.2rem;height:0.49rem;text-align:center;line-height:0.49rem;font-size:0.24rem;color:#fff;background-color: #ff866a;border-radius:0.05rem;}
.outfit0110-list-btn a:last-child{margin-left:1.54rem;}