.message16-outer-layer{width:100%;height:100%;position: fixed;top:0;right:0;background-color: #fff;}
.public-message-header{height:0.88rem;background-color: #45a8bc;padding: 0 0.66rem;color:#fff;line-height: 0.88rem;font-size: 0.34rem;position: relative;}
.message16-close{font-size:0.3rem;color:#fff;position: absolute;right:0.3rem;}
.public70-message-section{padding:0 0.66rem;}
.public70-message-form p{font-size:0.3rem;padding:0.4rem 0 0.24rem;}
.public70-message-form textarea{width:100%;box-sizing: border-box;padding:0.2rem;height:1.9rem;resize: none;border:0.02rem solid #ccc;vertical-align: top;}
.public70-message-form input[type="text"]{width:100%;border:0.02rem solid #ccc;height:0.6rem;text-indent:1em;}
.public70-message-form input[type="submit"]{width:100%;border:none;color:#fff;font-size:0.32rem;height:0.66rem;box-sizing: border-box;margin-top:0.6rem;background-color: #45a8bc;}
